<section>
  <div class="row">
    <div class="booking_form col l6 offset-l3 s12">
      <%= form_tag("/", method: "post") do %>
        <%= label_tag(:from, "From") %>
        <%= text_field_tag(:from) %>
        <%= label_tag(:to, "To") %>
        <%= text_field_tag(:to) %>
      <% end %>
      </div>
    </div>
  </section>