<div class="booking_form col l6 offset-l3 s12">
  <div class="row">
    <h3 class="col offset-l1"> Search for flights</h3>
    <%= form_tag("/", method: "post") do %>
      <%= select_tag(:from,
        options_for_select([["From", "#", {class: "disabled selected"}], ["Airport Name", "Airport_id", {class: "class_name"}],["Airport Name", "Airport_id", {class: "class_name"}],["Airport Name", "Airport_id", {class: "class_name"}],["Airport Name", "Airport_id", {class: "class_name"}] ]), {class: "browser-default col l9 offset-l1 s12 left"}
      ) %><br/>
     <%= select_tag(:to,
        options_for_select([["To", "#", {class: "disabled selected"}], ["Airport Name", "Airport_id", {class: "class_name"}],["Airport Name", "Airport_id", {class: "class_name"}],["Airport Name", "Airport_id", {class: "class_name"}],["Airport Name", "Airport_id", {class: "class_name"}] ]), {class: "browser-default col l9 offset-l1 s12 left"}
      ) %> <br/>
      <%= label_tag(:dept_time, "Departure Date", { class: "box-default col l4 offset-l1 left"}) %>
      <%= label_tag(:ret_time, "Return Date", { class: "box-default col l4 offset-l1 left"}) %>
      <%= date_field(:dept_time, "Departure Time", { class: "box-default col l4 offset-l1 left datepicker"}) %>
      <%= date_field(:ret_time, "Return Time", {class: "box-default col l4 offset-l1 left datepicker"}) %> <br/>
      <%= select_tag(:adults,
        options_for_select([["Adult(s)", "#", {class: "disabled selected"}], [1, 1, {class: "class_name"}],[2, 2, {class: "class_name"}],[3, 3, {class: "class_name"}],[4, 4, {class: "class_name"}], [5, 5, {class: "class_name"}] ]), {class: "browser-default col l2 offset-l1 left"}
      ) %>
      <%= select_tag(:children,
        options_for_select([["Children", "#", {class: "disabled selected"}], [1, 1, {class: "class_name"}],[2, 2, {class: "class_name"}],[3, 3, {class: "class_name"}],[4, 4, {class: "class_name"}], [5, 5, {class: "class_name"}] ]), {class: "browser-default col l3 offset-l1 left"}
      ) %>
      <%= select_tag(:class,
        options_for_select([["Class", "#", {class: "disabled selected"}], ["Economy", "Economy", {class: "class_name"}],["Business", "Business", {class: "class_name"}],["Executive", "Executive", {class: "class_name"}] ]), {class: "browser-default col l2 offset-l1 left"}
        )%> <br/>
        <%= submit_tag("Search Flight", {class: "waves-effect waves-light btn blue col l5 offset-l2 left"})%>
      <% end %>
  </div>
  </div>