<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="row">
        <%= link_to "MatFlights", root_path, { class: "brand-logo col l5 offset-l1 s5 left" } %>
      <ul class="right col l4 offset-l2 s7">
        <li><%= link_to "All Flights", index_path %></li>
        <% if current_user %>
          <li>
             <%= link_to raw("<i class='fa fa-caret-down right'></i> #{session[:name]}"), "#", { class: "dropdown-button", :data => {:activates => "dropdown1"} } %>
            <ul id="dropdown1" class="dropdown-content">
              <li><%= link_to "Past booking" %></li>
              <li><%= link_to "Manage booking" %></li>
              <li><%= link_to "Logout", logout_path %></li>
            </ul>
          </li>
          <li><a href="/loggedin"><%= get_user_image(session[:image]) %></a></li>
        <%  else %>
          <li><a class="modal-trigger" href="#modal1">Login</a></li>
        <% end %>
      </ul>
      </div>
    </div>
  </nav>
</div>

<div id="modal1" class="modal">
  <div class="modal-content row">
    <p>&nbsp;</p>
    <div class="col l2 offset-l1 s12">
      <a href="/auth/google_oauth2" class="waves-effect waves-light btn blue-grey">Google</a>
    </div>
    <div class="col l2 offset-l3 s12">
      <a href="/auth/facebook" class="waves-effect waves-light btn blue-grey">Facebook</a>
    </div>
  </div>
</div>