<div class="booking_form col l6 offset-l3 s12">
  <div class="row">
    <h1 class="col offset-l1 l11"> Search for flights</h1>
    <%= render partial: "partials/flash"%>
    <%= form_tag("/search", method: "get", class: "searcher") do %>
    <%= get_all_airports(
      :from_id,
      "Select Departure Airtport",
      "browser-default col l9 offset-l1 s12 left"
    ) %>
    <br/>
    <%= get_all_airports(
      :to_id,
      "Select Destination Airtport",
      "browser-default col l9 offset-l1 s12 left")
    %>
      <br/>
    <%= label_tag(
      :dept_time,
      "Departure Date",
      { class: "box-default col l4 offset-l1 left"}
    )%>
    <%= label_tag(
      :ret_time,
      "Return Date",
      { class: "box-default col l4 offset-l1 left"}
    )%>
    <%= date_field(
      :flight,
      :dept_time,
      { class: "box-default col l4 offset-l1 left datepicker"}
    )%>
    <%= date_field(
      :flight,
      :ret_time,
      {class: "box-default col l4 offset-l1 left datepicker"}
    )%> <br/>

    <%= label_tag(
      :passengers,
      "Passengers",
      { class: "box-default col l2 offset-l1 left"}
    )%>

    <%= get_dropdown(
      :passengers,
      1,
      10,
      "browser-default col l2 offset-l1 left"
    )%>

  <button class="btn waves-effect waves-light blue col offset-l1 l3" type="submit" name="search_flight" id="src_btn">Search Flight</button>
  <% end %>
  </div>
  </div>
