<section class="other_container row">
  <div class="col offset-l1 l10 s12">
    <h2>Past bookings</h2>
      <%= render partial: "partials/flash"%>
    <% if @no_record %>
      <h3> You have no past bookings </h3>
    <% else %>
      <% @archive = true %>
      <%= render partial: "partials/table_header" %>
        <% @bookings.each do | booking | %>
        <tr>
          <% attributes =
              [ booking["airline"],
                booking["departure"],
                booking["destination"],
                booking["dept_date"],
                number_to_currency(booking["cost"]),
                booking["id"]
              ] %>
          <% counter = 0 %>
          <% while counter < 5 %>
          <td> <%= attributes[counter] %> </td>
          <% counter += 1 %>
          <% end %>
          <td>
            <% if Date.today < Date.parse(attributes[3]) %>
              <%= link_to "Cancel Booking", cancel_path(id: booking["id"]), class: "col btn blue" %>
              <% end %>
          </td>
        </tr>
        <% end %>
      <%= render partial: "partials/table_base" %>
    <% end %>
  </div>
</section>